---
layout: default
---
{% for block in page.blocks %}
    {% assign template = block.template %}
    {% case template %}
    {% when 'about-1' %}
      {% include about-1.html %}
    {% when 'about-2' %}
      {% include about-2.html %}
    {% when 'features-1' %}
      {% include features-1.html %}
    {% when 'divider' %}
      {% include divider.html %}
    {% when 'cover-1' %}
      {% include cover-1.html %}
    {% when 'quote' %}
      {% include quote.html %}
    {% else %}
    {% endcase %}
{% endfor %}
